.confetti {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    .colors {
        position: fixed;
        margin: 0;
    }
}

.confetti.show {
    opacity: 1;
}

$rainbow: #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #2e2b5f, #8b00ff, #ff0000, #ff7f00, #ffff00,
    #00ff00, #0000ff, #2e2b5f, #8b00ff, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #2e2b5f,
    #8b00ff, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #2e2b5f, #8b00ff;

@each $color in $rainbow {
    $i: index(
        $list: $rainbow,
        $value: $color,
    );
    .box-#{$i},
    .dox-#{$i},
    .fox-#{$i},
    .rox-#{$i},
    .uox-#{$i},
    .vox-#{$i},
    .zox-#{$i} {
        background-color: $color;
        opacity: 0;
        z-index: -5;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $l: random(
        $limit: 98,
    );
    $h: random(
            $limit: 5,
        ) +
        1;
    $w: random(
            $limit: 4,
        ) +
        1;
    $r: random(
        $limit: 360,
    );
    .box-#{$i} {
        top: #{$t}vh;
        left: #{$l}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$r}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $l: random(
        $limit: 98,
    );
    $h: random(
        $limit: 6,
    );
    $w: random(
        $limit: 5,
    );
    $r: random(
        $limit: 360,
    );
    .dox-#{$i} {
        top: #{$t}vh;
        left: #{$l}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$r}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 1.5s;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $l: random(
        $limit: 98,
    );
    $h: random(
            $limit: 6,
        ) +
        1;
    $w: random(
            $limit: 5,
        ) +
        1;
    $r: random(
        $limit: 360,
    );
    .fox-#{$i} {
        top: #{$t}vh;
        left: #{$l}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$r}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 4s;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $r: random(
        $limit: 98,
    );
    $h: random(
        $limit: 5,
    );
    $w: random(
        $limit: 3,
    );
    $rotate: random(
        $limit: 360,
    );
    .rox-#{$i} {
        top: #{$t}vh;
        right: #{$r}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$rotate}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 6s;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $r: random(
        $limit: 98,
    );
    $h: random(
        $limit: 6,
    );
    $w: random(
        $limit: 4,
    );
    $transform: random(
        $limit: 360,
    );
    .uox-#{$i} {
        top: #{$t}vh;
        right: #{$r}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$transform}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 8s;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $r: random(
        $limit: 98,
    );
    $h: random(
        $limit: 5,
    );
    $w: random(
        $limit: 8,
    );
    $transform: random(
        $limit: 360,
    );
    .vox-#{$i} {
        top: #{$t}vh;
        right: #{$r}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$transform}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 10s;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 40,
    );
    $r: random(
        $limit: 98,
    );
    $h: random(
            $limit: 6,
        ) +
        1;
    $w: random(
            $limit: 6,
        ) +
        1;
    $transform: random(
        $limit: 360,
    );
    .zox-#{$i} {
        top: #{$t}vh;
        right: #{$r}vw;
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
        transform: rotate(#{$transform}deg);
        animation: FALLCONFETTI 10s ease-in-out infinite;
        animation-delay: 12s;
    }
}

@keyframes FALLCONFETTI {
    0% {
        transform: translateY(-3000%);
        opacity: 0;
    }
    50% {
        opacity: 0.55;
    }
    100% {
        transform: translateY(3000%);
        opacity: 0;
    }
}
