.video-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    transition: all 250ms ease-in-out;
    @include flex(column, center);
    align-items: center;
    video {
        width: 65%;
        height: 65vh;
    }
    p {
        color: $white;
        margin-top: 1.5em;
        text-shadow: 0px 0px $black;
        font-weight: bold;
    }
}

.video-modal.open {
    background-color: #393d3fde;
    opacity: 1;
    pointer-events: all;
}
