.confetti {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}

.confetti .colors {
  position: fixed;
  margin: 0;
}

.confetti.show {
  opacity: 1;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1 {
  background-color: #ff0000;
  opacity: 0.25;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2 {
  background-color: #ff7f00;
  opacity: 0.25;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3 {
  background-color: #ffff00;
  opacity: 0.25;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4 {
  background-color: #00ff00;
  opacity: 0.25;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5 {
  background-color: #0000ff;
  opacity: 0.25;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6 {
  background-color: #2e2b5f;
  opacity: 0.25;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7 {
  background-color: #8b00ff;
  opacity: 0.25;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1 {
  background-color: #ff0000;
  opacity: 0.25;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2 {
  background-color: #ff7f00;
  opacity: 0.25;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3 {
  background-color: #ffff00;
  opacity: 0.25;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4 {
  background-color: #00ff00;
  opacity: 0.25;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5 {
  background-color: #0000ff;
  opacity: 0.25;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6 {
  background-color: #2e2b5f;
  opacity: 0.25;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7 {
  background-color: #8b00ff;
  opacity: 0.25;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1 {
  background-color: #ff0000;
  opacity: 0.25;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2 {
  background-color: #ff7f00;
  opacity: 0.25;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3 {
  background-color: #ffff00;
  opacity: 0.25;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4 {
  background-color: #00ff00;
  opacity: 0.25;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5 {
  background-color: #0000ff;
  opacity: 0.25;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6 {
  background-color: #2e2b5f;
  opacity: 0.25;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7 {
  background-color: #8b00ff;
  opacity: 0.25;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1 {
  background-color: #ff0000;
  opacity: 0.25;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2 {
  background-color: #ff7f00;
  opacity: 0.25;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3 {
  background-color: #ffff00;
  opacity: 0.25;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4 {
  background-color: #00ff00;
  opacity: 0.25;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5 {
  background-color: #0000ff;
  opacity: 0.25;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6 {
  background-color: #2e2b5f;
  opacity: 0.25;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7 {
  background-color: #8b00ff;
  opacity: 0.25;
  z-index: -5;
}

.box-1 {
  top: calc(1 * 107px);
  left: calc(1 * 82px);
  height: calc(1* 5px);
  width: calc(1* 3px);
  -webkit-transform: rotate(289deg);
          transform: rotate(289deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-2 {
  top: calc(2 * 14px);
  left: calc(2 * 9px);
  height: calc(2* 3px);
  width: calc(2* 3px);
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-3 {
  top: calc(3 * 45px);
  left: calc(3 * 193px);
  height: calc(3* 5px);
  width: calc(3* 3px);
  -webkit-transform: rotate(183deg);
          transform: rotate(183deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-4 {
  top: calc(4 * 84px);
  left: calc(4 * 47px);
  height: calc(4* 2px);
  width: calc(4* 2px);
  -webkit-transform: rotate(84deg);
          transform: rotate(84deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-5 {
  top: calc(5 * 112px);
  left: calc(5 * 35px);
  height: calc(5* 5px);
  width: calc(5* 3px);
  -webkit-transform: rotate(332deg);
          transform: rotate(332deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-6 {
  top: calc(6 * 29px);
  left: calc(6 * 148px);
  height: calc(6* 4px);
  width: calc(6* 3px);
  -webkit-transform: rotate(274deg);
          transform: rotate(274deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-7 {
  top: calc(7 * 38px);
  left: calc(7 * 92px);
  height: calc(7* 4px);
  width: calc(7* 3px);
  -webkit-transform: rotate(208deg);
          transform: rotate(208deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-8 {
  top: calc(8 * 106px);
  left: calc(8 * 23px);
  height: calc(8* 5px);
  width: calc(8* 2px);
  -webkit-transform: rotate(242deg);
          transform: rotate(242deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-9 {
  top: calc(9 * 23px);
  left: calc(9 * 75px);
  height: calc(9* 1px);
  width: calc(9* 2px);
  -webkit-transform: rotate(51deg);
          transform: rotate(51deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.box-10 {
  top: calc(10 * 95px);
  left: calc(10 * 136px);
  height: calc(10* 4px);
  width: calc(10* 3px);
  -webkit-transform: rotate(159deg);
          transform: rotate(159deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-1 {
  top: calc(1 * 79px);
  left: calc(1 * 173px);
  height: calc(1* 2px);
  width: calc(1* 2px);
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-2 {
  top: calc(2 * 7px);
  left: calc(2 * 131px);
  height: calc(2* 4px);
  width: calc(2* 1px);
  -webkit-transform: rotate(355deg);
          transform: rotate(355deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-3 {
  top: calc(3 * 89px);
  left: calc(3 * 97px);
  height: calc(3* 5px);
  width: calc(3* 2px);
  -webkit-transform: rotate(230deg);
          transform: rotate(230deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-4 {
  top: calc(4 * 64px);
  left: calc(4 * 182px);
  height: calc(4* 2px);
  width: calc(4* 2px);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-5 {
  top: calc(5 * 16px);
  left: calc(5 * 135px);
  height: calc(5* 1px);
  width: calc(5* 1px);
  -webkit-transform: rotate(213deg);
          transform: rotate(213deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-6 {
  top: calc(6 * 26px);
  left: calc(6 * 191px);
  height: calc(6* 3px);
  width: calc(6* 3px);
  -webkit-transform: rotate(189deg);
          transform: rotate(189deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-7 {
  top: calc(7 * 11px);
  left: calc(7 * 187px);
  height: calc(7* 2px);
  width: calc(7* 1px);
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-8 {
  top: calc(8 * 42px);
  left: calc(8 * 7px);
  height: calc(8* 3px);
  width: calc(8* 2px);
  -webkit-transform: rotate(208deg);
          transform: rotate(208deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-9 {
  top: calc(9 * 12px);
  left: calc(9 * 190px);
  height: calc(9* 2px);
  width: calc(9* 3px);
  -webkit-transform: rotate(304deg);
          transform: rotate(304deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.dox-10 {
  top: calc(10 * 42px);
  left: calc(10 * 31px);
  height: calc(10* 3px);
  width: calc(10* 3px);
  -webkit-transform: rotate(57deg);
          transform: rotate(57deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-1 {
  top: calc(1 * 147px);
  left: calc(1 * 157px);
  height: calc(1* 5px);
  width: calc(1* 1px);
  -webkit-transform: rotate(310deg);
          transform: rotate(310deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-2 {
  top: calc(2 * 2px);
  left: calc(2 * 142px);
  height: calc(2* 2px);
  width: calc(2* 3px);
  -webkit-transform: rotate(161deg);
          transform: rotate(161deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-3 {
  top: calc(3 * 45px);
  left: calc(3 * 90px);
  height: calc(3* 3px);
  width: calc(3* 2px);
  -webkit-transform: rotate(109deg);
          transform: rotate(109deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-4 {
  top: calc(4 * 119px);
  left: calc(4 * 125px);
  height: calc(4* 1px);
  width: calc(4* 2px);
  -webkit-transform: rotate(119deg);
          transform: rotate(119deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-5 {
  top: calc(5 * 129px);
  left: calc(5 * 193px);
  height: calc(5* 4px);
  width: calc(5* 1px);
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-6 {
  top: calc(6 * 117px);
  left: calc(6 * 114px);
  height: calc(6* 5px);
  width: calc(6* 2px);
  -webkit-transform: rotate(238deg);
          transform: rotate(238deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-7 {
  top: calc(7 * 21px);
  left: calc(7 * 69px);
  height: calc(7* 3px);
  width: calc(7* 1px);
  -webkit-transform: rotate(169deg);
          transform: rotate(169deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-8 {
  top: calc(8 * 62px);
  left: calc(8 * 38px);
  height: calc(8* 3px);
  width: calc(8* 1px);
  -webkit-transform: rotate(284deg);
          transform: rotate(284deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-9 {
  top: calc(9 * 17px);
  left: calc(9 * 175px);
  height: calc(9* 5px);
  width: calc(9* 2px);
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.fox-10 {
  top: calc(10 * 146px);
  left: calc(10 * 59px);
  height: calc(10* 4px);
  width: calc(10* 3px);
  -webkit-transform: rotate(354deg);
          transform: rotate(354deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-1 {
  bottom: calc(1 * 37px);
  right: calc(1 * 53px);
  height: calc(1* 1px);
  width: calc(1* 2px);
  -webkit-transform: rotate(348deg);
          transform: rotate(348deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-2 {
  bottom: calc(2 * 19px);
  right: calc(2 * 185px);
  height: calc(2* 3px);
  width: calc(2* 3px);
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-3 {
  bottom: calc(3 * 95px);
  right: calc(3 * 249px);
  height: calc(3* 5px);
  width: calc(3* 3px);
  -webkit-transform: rotate(106deg);
          transform: rotate(106deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-4 {
  bottom: calc(4 * 7px);
  right: calc(4 * 141px);
  height: calc(4* 5px);
  width: calc(4* 3px);
  -webkit-transform: rotate(262deg);
          transform: rotate(262deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-5 {
  bottom: calc(5 * 138px);
  right: calc(5 * 99px);
  height: calc(5* 2px);
  width: calc(5* 2px);
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-6 {
  bottom: calc(6 * 72px);
  right: calc(6 * 215px);
  height: calc(6* 2px);
  width: calc(6* 2px);
  -webkit-transform: rotate(83deg);
          transform: rotate(83deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-7 {
  bottom: calc(7 * 49px);
  right: calc(7 * 40px);
  height: calc(7* 4px);
  width: calc(7* 3px);
  -webkit-transform: rotate(327deg);
          transform: rotate(327deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-8 {
  bottom: calc(8 * 121px);
  right: calc(8 * 175px);
  height: calc(8* 3px);
  width: calc(8* 2px);
  -webkit-transform: rotate(201deg);
          transform: rotate(201deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-9 {
  bottom: calc(9 * 70px);
  right: calc(9 * 166px);
  height: calc(9* 2px);
  width: calc(9* 1px);
  -webkit-transform: rotate(179deg);
          transform: rotate(179deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.rox-10 {
  bottom: calc(10 * 126px);
  right: calc(10 * 43px);
  height: calc(10* 2px);
  width: calc(10* 3px);
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-1 {
  bottom: calc(1 * 78px);
  right: calc(1 * 226px);
  height: calc(1* 1px);
  width: calc(1* 2px);
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-2 {
  bottom: calc(2 * 23px);
  right: calc(2 * 161px);
  height: calc(2* 3px);
  width: calc(2* 3px);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-3 {
  bottom: calc(3 * 102px);
  right: calc(3 * 66px);
  height: calc(3* 3px);
  width: calc(3* 1px);
  -webkit-transform: rotate(197deg);
          transform: rotate(197deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-4 {
  bottom: calc(4 * 128px);
  right: calc(4 * 91px);
  height: calc(4* 5px);
  width: calc(4* 1px);
  -webkit-transform: rotate(271deg);
          transform: rotate(271deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-5 {
  bottom: calc(5 * 36px);
  right: calc(5 * 153px);
  height: calc(5* 1px);
  width: calc(5* 1px);
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-6 {
  bottom: calc(6 * 28px);
  right: calc(6 * 189px);
  height: calc(6* 1px);
  width: calc(6* 3px);
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-7 {
  bottom: calc(7 * 140px);
  right: calc(7 * 240px);
  height: calc(7* 2px);
  width: calc(7* 2px);
  -webkit-transform: rotate(266deg);
          transform: rotate(266deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-8 {
  bottom: calc(8 * 106px);
  right: calc(8 * 240px);
  height: calc(8* 2px);
  width: calc(8* 3px);
  -webkit-transform: rotate(83deg);
          transform: rotate(83deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-9 {
  bottom: calc(9 * 95px);
  right: calc(9 * 49px);
  height: calc(9* 4px);
  width: calc(9* 1px);
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

.uox-10 {
  bottom: calc(10 * 40px);
  right: calc(10 * 247px);
  height: calc(10* 3px);
  width: calc(10* 2px);
  -webkit-transform: rotate(228deg);
          transform: rotate(228deg);
  -webkit-animation: FALLCONTETTI 6s ease-in-out infinite alternate;
          animation: FALLCONTETTI 6s ease-in-out infinite alternate;
}

@-webkit-keyframes FALLCONTETTI {
  0% {
    -webkit-transform: translateY(-3000%);
            transform: translateY(-3000%);
  }
  100% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
}

@keyframes FALLCONTETTI {
  0% {
    -webkit-transform: translateY(-3000%);
            transform: translateY(-3000%);
  }
  100% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
}

.video-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-modal video {
  width: 65%;
  height: 65vh;
}

.video-modal.open {
  background-color: #393d3faf;
  opacity: 1;
  pointer-events: all;
}

.section, nav, #hero, #about, #facebook,
#blog,
#battleship,
#other-projects {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 12%;
  scroll-snap-align: start;
}

.black-text {
  color: #393d3f !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ebebeb;
  overflow: hidden;
}

:root {
  scroll-behavior: smooth;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background-color: #393d3f;
  position: fixed;
  z-index: 10;
  width: 12%;
  min-width: 170px;
  -webkit-box-shadow: 0 2px 10px #393d3f;
          box-shadow: 0 2px 10px #393d3f;
  margin-left: 0;
  opacity: 1;
}

nav .outer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
}

nav .outer-menu > li {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .outer-menu > li a {
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  padding: 20px 0;
  color: #ebebeb;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  position: relative;
}

nav .outer-menu > li a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #ebebeb;
  bottom: 10px;
  left: 0;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}

nav .outer-menu > li a:hover:after {
  width: 100%;
}

nav .outer-menu > li a i {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .outer-menu .has-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .outer-menu .has-menu a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .outer-menu .has-menu .inner-menu {
  margin-top: -10px;
}

nav .outer-menu .has-menu .inner-menu li a:after {
  bottom: 0;
}

nav .inner-menu > li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .inner-menu > li a {
  padding: 10px 0;
  font-size: 0.85rem;
}

nav .selector {
  position: absolute;
  z-index: -30;
  background-color: #ebebeb;
  -webkit-transition: top 200ms ease-in;
  transition: top 200ms ease-in;
  -webkit-box-shadow: 0 0 6px #393d3f;
          box-shadow: 0 0 6px #393d3f;
}

nav.slide-in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}

#hero {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero > div {
  margin-top: -150px;
}

#hero h1 {
  font-size: 7rem;
  color: #393d3f;
  text-shadow: 0 0 1px #393d3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

#hero h1 .hello {
  font-size: 2rem;
  color: #393d3f;
  text-shadow: none;
  display: inline-block;
  -webkit-transform: scale(5) translateX(100%);
          transform: scale(5) translateX(100%);
  -webkit-animation: hello 0.8s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
          animation: hello 0.8s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin-right: 5px;
}

#hero h1 .slide-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  opacity: 0;
  font-family: 'Kalam', cursive;
}

#hero h1 .slide-in span {
  color: #393d3f;
  font-size: 2rem;
  font-weight: normal;
}

#hero .subtitle {
  font-size: 1.5rem;
  opacity: 0;
  -webkit-animation: fadeIn 500ms ease-in forwards;
          animation: fadeIn 500ms ease-in forwards;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  color: #393d3f;
  text-align: end;
  letter-spacing: 5px;
}

#hero .subtitle span {
  letter-spacing: 5px;
}

#hero:after {
  content: '';
  height: 60%;
  width: 120%;
  position: absolute;
  top: 0;
  background-color: #dfdfdf9d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
  z-index: -10;
}

#about {
  color: #ebebeb;
  background-color: #393d3f;
}

.project-title, #facebook .text h2,
#blog .text h2,
#battleship .text h2 {
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  color: #393d3f;
  margin: 0.5em 2em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-title div, #facebook .text h2 div, #blog .text h2 div, #battleship .text h2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-title div a, #facebook .text h2 div a, #blog .text h2 div a, #battleship .text h2 div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393d3f;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 25px;
  position: relative;
}

.project-title div a i, #facebook .text h2 div a i, #blog .text h2 div a i, #battleship .text h2 div a i {
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.project-title div a:after, #facebook .text h2 div a:after, #blog .text h2 div a:after, #battleship .text h2 div a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  height: 2px;
  width: 0;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  background-color: #393d3f;
}

.project-title div a:hover:after, #facebook .text h2 div a:hover:after, #blog .text h2 div a:hover:after, #battleship .text h2 div a:hover:after {
  width: 100%;
}

.video, #facebook .images figure video,
#blog .images figure video,
#battleship .images figure video {
  cursor: pointer;
  display: block;
  max-width: 90%;
  max-height: 260px;
  -webkit-box-shadow: 0 2px 35px -20px #393d3f;
          box-shadow: 0 2px 35px -20px #393d3f;
}

.techs-items, #facebook .text .techs li,
#blog .text .techs li,
#battleship .text .techs li {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 15px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techs-items img, #facebook .text .techs li img, #blog .text .techs li img, #battleship .text .techs li img {
  max-width: 100%;
}

.techs-items#express, #facebook .text .techs li#express,
#blog .text .techs li#express,
#battleship .text .techs li#express, .techs-items#mongo, #facebook .text .techs li#mongo,
#blog .text .techs li#mongo,
#battleship .text .techs li#mongo {
  width: 17%;
}

#facebook,
#blog,
#battleship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

#facebook .text,
#blog .text,
#battleship .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4em;
  font-size: 1.1rem;
}

#facebook .text .techs,
#blog .text .techs,
#battleship .text .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

#facebook .text .techs li,
#blog .text .techs li,
#battleship .text .techs li {
  position: relative;
}

#facebook .text .techs li span,
#blog .text .techs li span,
#battleship .text .techs li span {
  position: absolute;
  bottom: 5px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #393d3f;
  color: #ebebeb;
  font-size: 0.7rem;
  padding: 0.2em 0.5em;
  border-radius: 25px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#facebook .text .techs li:hover span,
#blog .text .techs li:hover span,
#battleship .text .techs li:hover span {
  opacity: 1;
}

#facebook .text .techs li.passport img,
#blog .text .techs li.passport img,
#battleship .text .techs li.passport img {
  height: 90%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#facebook .text > div,
#blog .text > div,
#battleship .text > div {
  width: 75%;
  margin-bottom: 4.5em;
  color: #4b4d4e;
}

#facebook .images,
#blog .images,
#battleship .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#facebook .images figure,
#blog .images figure,
#battleship .images figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#facebook .images figure:first-child,
#blog .images figure:first-child,
#battleship .images figure:first-child {
  margin-left: 4em;
}

#facebook .bg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1876f211;
  z-index: -15;
}

#blog .images {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#battleship .images {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#battleship .text .techs li {
  width: 6%;
  position: relative;
  min-width: 42px;
  max-width: 70px;
}

#battleship .text .techs li img {
  width: 100%;
}

#battleship .text .techs li:last-child {
  width: 8%;
}

#battleship .text .techs li:last-child img {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

#other-projects > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 40px;
  margin: 0 1em 0 4em;
  padding-bottom: 1em;
}

#other-projects > div h2 {
  grid-column: span 3;
  margin-bottom: 0;
  margin-top: 0;
}

#other-projects > div figure > div {
  position: relative;
  overflow: hidden;
  max-width: 400px;
  -webkit-box-shadow: 0 0 40px -20px #393d3f;
          box-shadow: 0 0 40px -20px #393d3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#other-projects > div figure > div .blanket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #393d3faf;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#other-projects > div figure > div:hover .blanket {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#other-projects > div figure img {
  width: 100%;
}

#other-projects > div figure figcaption {
  font-size: 0.9rem;
  margin-top: 1em;
}

#other-projects > div figure figcaption span {
  color: #706e5c;
  font-size: 1rem;
}

#other-projects > div figure figcaption strong {
  font-weight: 600;
}

#other-projects > div .project-links {
  list-style: none;
  margin-top: 1em;
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#other-projects > div .project-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#other-projects > div .project-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebebeb;
}

.live {
  background: url("./imgs/view-in-browser.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes hello {
  0% {
    -webkit-transform: scale(5) translateX(100%);
            transform: scale(5) translateX(100%);
  }
  100% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    opacity: 0;
  }
}

@keyframes hello {
  0% {
    -webkit-transform: scale(5) translateX(100%);
            transform: scale(5) translateX(100%);
  }
  100% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */