$black: #393d3f;
$white: #ebebeb;
$brown: #706e5c;
$teal: #62929e;
$blue: #536979;

@mixin flex($flex-direction: row, $justify-content: space-between) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@import './partials/confetti';
@import './partials/videos';
@import './partials/contact';

.section {
    min-height: 100vh;
    @include flex(column, space-around);
    align-items: center;
    flex: 1;
    margin-left: 12%;
    scroll-snap-align: start;
}

.black-text {
    color: $black !important;
}

.anchor-bar {
    &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 250ms ease-in-out;
    }
    &:hover:after {
        transform: scaleX(100%);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $white;
    overflow: hidden;
}

:root {
    scroll-behavior: smooth;
}

#wrapper {
    display: flex;
}

.fab {
    @include flex(row, center);
    align-items: center;
}

nav {
    background-color: $black;
    @extend .section;
    position: fixed;
    z-index: 10;
    width: 12%;
    min-width: 170px;
    box-shadow: 0 2px 10px $black;
    margin-left: 0;
    opacity: 1;
    .outer-menu {
        @include flex(column, center);
        list-style: none;
        width: 100%;
        & > li {
            text-align: center;
            margin: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                transition: background-color 150ms ease;
                padding: 20px 0;
                color: $white;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                position: relative;
                @include flex(center, space-evenly);
                @extend .anchor-bar;
                i {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .has-menu {
            flex-direction: column;
            a {
                align-self: center;
            }
            .inner-menu {
                margin-top: -10px;
                li a:after {
                    bottom: 0;
                }
            }
        }
    }
    .inner-menu {
        & > li {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            a {
                padding: 10px 0;
                font-size: 0.85rem;
            }
        }
    }
    .selector {
        position: absolute;
        z-index: -30;
        background-color: $white;
        transition: top 200ms ease-in;
        box-shadow: 0 0 6px $black;
    }
}

nav.slide-in {
    transform: translateX(0);
    opacity: 1;
}

main {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

#hero {
    @extend .section;
    width: 60%;
    justify-content: center;
    margin-left: 9%;
    & > div {
        margin-top: -150px;
    }
    h1 {
        font-size: 7rem;
        color: $black;
        text-shadow: 0 0 1px $black;
        @include flex(row, center);
        align-items: baseline;
        width: 100%;
        padding-top: 150px;
        .slide-in {
            @include flex(row, center);
            align-items: center;
            transform: translateX(-100%);
            animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
            animation-delay: 1.3s;
            opacity: 0;
            font-family: 'Kalam', cursive;
        }
    }
    .subtitle {
        font-size: 1.5rem;
        opacity: 0;
        animation: fadeIn 500ms ease-in forwards;
        animation-delay: 2.8s;
        color: $black;
        text-align: end;
        letter-spacing: 5px;
        margin-top: 1em;
        span {
            letter-spacing: 5px;
        }
    }
    &:after {
        content: '';
        height: 60%;
        width: 120%;
        position: absolute;
        top: 0;
        background-color: #dfdfdf9d;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        z-index: -10;
    }
    .contact-links {
        @include flex(row, space-between);
        width: 250px;
        list-style: none;
        padding-top: 150px;
        li {
            @include flex(row, center);
            align-items: center;
            opacity: 0;
            position: relative;
            animation: fadeIn 500ms ease-in-out forwards;
            overflow-x: hidden;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: $black;
                transform: translateX(-100%);
                transition: transform 250ms ease-in-out;
            }
            &:hover:after {
                transform: translateX(0);
            }
        }
        li:first-child {
            animation-delay: 3.5s;
        }
        li:nth-child(2) {
            animation-delay: 4s;
        }
        li:last-child {
            animation-delay: 4.5s;
        }
        a {
            color: $black;
            text-decoration: none;
            font-size: 3rem;
        }
    }
}

#about {
    @extend .section;
    color: $white;
    background-color: $black;
}

#facebook,
#blog,
#battleship,
#other-projects,
#contact {
    @extend .section;
}

.project-title {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    color: $black;
    margin: 0.5em 2em 1em 0;
    @include flex(row, space-between);
    align-self: stretch;
    align-items: center;
    div {
        @include flex();
        a {
            @include flex(row, center);
            align-items: center;
            color: $black;
            font-size: 1rem;
            text-decoration: none;
            margin-left: 30px;
            position: relative;
            i {
                width: 26px;
                height: 26px;
                margin-left: 10px;
                font-size: 1.5rem;
            }
            @extend .anchor-bar;
            &:after {
                background-color: $black;
            }
        }
    }
}

.video {
    cursor: pointer;
    display: block;
    max-width: 90%;
    max-height: 260px;
    box-shadow: 0 2px 35px -20px $black;
}

.techs-items {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 15px;
    width: 8%;
    @include flex(row, center);
    align-items: center;
    img {
        max-width: 100%;
    }
    &#express,
    &#mongo {
        width: 17%;
    }
}

#facebook,
#blog,
#battleship {
    @include flex(column, space-around);
    align-items: stretch;
    position: relative;
    .text {
        @include flex(column, space-between);
        align-items: center;
        margin-left: 4em;
        font-size: 1.1rem;
        h2 {
            @extend .project-title;
        }
        .techs {
            @include flex(row, space-around);
            list-style: none;
            flex-wrap: wrap;
            width: 60%;
            li {
                @extend .techs-items;
                position: relative;
                span {
                    position: absolute;
                    bottom: 5px;
                    transform: translateY(100%);
                    background-color: $black;
                    color: $white;
                    font-size: 0.7rem;
                    padding: 0.2em 0.5em;
                    border-radius: 25px;
                    display: inline-block;
                    opacity: 0;
                    transition: opacity 250ms ease-in;
                }
                &:hover span {
                    opacity: 1;
                }
            }
            li.passport img {
                height: 90%;
                align-self: flex-start;
            }
        }
        & > div {
            width: 75%;
            margin-bottom: 4.5em;
            color: #4b4d4e;
        }
    }
    .images {
        @include flex(row, space-around);
        width: 100%;
        figure {
            @include flex();
            video {
                @extend .video;
            }
        }
        figure:first-child {
            margin-left: 4em;
        }
    }
}

#battleship {
    .text {
        .techs li {
            width: 6%;
            position: relative;
            min-width: 42px;
            max-width: 70px;
            img {
                width: 100%;
            }
            &:last-child {
                width: 8%;
                img {
                    align-self: self-end;
                }
            }
        }
    }
}

#other-projects {
    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 40px;
        margin: 0 1em 0 4em;
        padding-bottom: 1em;
        h2 {
            grid-column: span 3;
            margin-bottom: 0;
            margin-top: 0;
        }
        figure {
            & > div {
                position: relative;
                overflow: hidden;
                max-width: 400px;
                box-shadow: 0 0 40px -20px $black;
                @include flex();
                .blanket {
                    @include flex();
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #393d3faf;
                    transform: translateY(100%);
                    transition: transform 250ms ease-in;
                }
                &:hover .blanket {
                    transform: translateX(0);
                }
            }
            img {
                width: 100%;
            }
            figcaption {
                font-size: 0.9rem;
                margin-top: 1em;
                span {
                    color: $brown;
                    font-size: 1rem;
                }
                strong {
                    font-weight: 600;
                }
            }
        }
        .project-links {
            list-style: none;
            margin-top: 1em;
            width: 150px;
            margin: 0 auto;
            @include flex(row, space-around);
            li {
                @include flex(row, center);
                align-items: center;
                a {
                    @include flex(row, center);
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    i {
                        font-size: 2rem;
                        position: relative;
                        &:after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            transform: scaleX(0);
                            transform-origin: 0%;
                            transition: transform 250ms ease-in-out;
                        }
                        &:hover:after {
                            transform: scaleX(100%);
                        }
                    }
                }
            }
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hello {
    0% {
        transform: scale(5) translateX(100%);
    }
    100% {
        transform: scale(0) translateX(0);
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
