$black: #393d3f;
$white: #ebebeb;
$brown: #706e5c;
$teal: #62929e;
$blue: #536979;

@mixin flex($flex-direction: row, $justify-content: space-between) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

.section {
    min-height: 100vh;
    @include flex(column, space-around);
    align-items: center;
    flex: 1;
    margin-left: 12%;
    scroll-snap-align: start;
}

.black-text {
    color: $black !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $white;
    overflow: hidden;
}

:root {
    scroll-behavior: smooth;
}

#wrapper {
    display: flex;
}

nav.hide {
    transform: translateX(-100%);
}

.fab {
    @include flex(row, center);
    align-items: center;
}

nav {
    background-color: $black;
    @extend .section;
    position: fixed;
    z-index: 10;
    width: 12%;
    min-width: 170px;
    box-shadow: 0 2px 10px $black;
    margin-left: 0;
    opacity: 0;
    animation: fadeIn 500ms ease-in forwards;
    animation-delay: 3s;

    .outer-menu {
        @include flex(column, center);
        list-style: none;
        width: 100%;
        & > li {
            text-align: center;
            margin: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                transition: background-color 150ms ease;
                padding: 20px 0;
                color: $white;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                @include flex(center, space-evenly);
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 0%;
                    background-color: $white;
                    bottom: 10px;
                    left: 0;
                    transition: width 250ms ease;
                }
                &:hover:after {
                    width: 100%;
                }
                i {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .has-menu {
            flex-direction: column;
            a {
                align-self: center;
            }
            .inner-menu {
                margin-top: -10px;
                li a:after {
                    bottom: 0;
                }
            }
        }
    }
    .inner-menu {
        & > li {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            a {
                padding: 10px 0;
                font-size: 0.85rem;
            }
        }
    }
    .selector {
        position: absolute;
        z-index: -30;
        background-color: $white;
        transition: top 200ms ease-in;
        box-shadow: 0 0 6px $black;
    }
}

.confetti {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    .colors {
        position: fixed;
        margin: 0;
    }
}

$rainbow: #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #2e2b5f, #8b00ff, #ff0000, #ff7f00, #ffff00,
    #00ff00, #0000ff, #2e2b5f, #8b00ff;

@each $color in $rainbow {
    $i: index(
        $list: $rainbow,
        $value: $color,
    );
    .box-#{$i} {
        background-color: $color;
        opacity: 0.1;
        z-index: -5;
    }
}

@for $i from 1 to 11 {
    $t: random(
        $limit: 100,
    );
    $l: random(
        $limit: 100,
    );
    $h: random(
        $limit: 5,
    );
    $w: random(
        $limit: 3,
    );
    .box-#{$i} {
        top: calc(#{$i} * #{$t}px);
        left: calc(#{$i} * #{$l}px);
        height: calc(#{$i}* #{$h}px);
        width: calc(#{$i}* #{$w}px);
    }
}

main {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

#hero {
    @extend .section;
    width: 60%;
    justify-content: center;
    & > div {
        margin-top: -150px;
    }
    h1 {
        font-size: 7rem;
        color: $blue;
        text-shadow: 0 0 1px $black;
        @include flex(row, center);
        align-items: baseline;
        width: 100%;
        .hello {
            font-size: 2rem;
            color: $black;
            text-shadow: none;
            display: inline-block;
            transform: scale(5) translateX(100%);
            animation: hello 0.8s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
            animation-delay: 1s;
            margin-right: 5px;
        }
        .slide-in {
            @include flex(row, center);
            align-items: center;
            transform: translateX(-100%);
            animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
            animation-delay: 1.3s;
            opacity: 0;
            font-family: 'Kalam', cursive;
            span {
                color: $black;
                font-size: 2rem;
                font-weight: normal;
            }
        }
    }
    .subtitle {
        font-size: 1.5rem;
        opacity: 0;
        animation: fadeIn 500ms ease-in forwards;
        animation-delay: 2.8s;
        color: $black;
        text-align: end;
        letter-spacing: 2px;
    }
    &:after {
        content: '';
        height: 60%;
        width: 120%;
        position: absolute;
        top: 0;
        background-color: #dfdfdf9d;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        z-index: -10;
    }
}

#about {
    @extend .section;
    color: $white;
    background-color: $black;
}

#facebook,
#blog,
#battleship,
#other-projects {
    @extend .section;
}

.project-title {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    color: $black;
    margin: 0.5em 2em 1em 0;
    @include flex(row, space-between);
    align-self: stretch;
    align-items: center;
    div {
        @include flex();
        a {
            @include flex(row, center);
            align-items: center;
            color: $black;
            font-size: 1rem;
            text-decoration: none;
            margin-left: 25px;
            position: relative;
            i {
                width: 26px;
                height: 26px;
                margin-left: 10px;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                display: inline-block;
                height: 2px;
                width: 0;
                transition: width 200ms ease-in-out;
                background-color: $black;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
}

.video {
    cursor: pointer;
    display: block;
    max-width: 90%;
    max-height: 260px;
    box-shadow: 0 2px 35px -20px $black;
}

.techs-items {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 15px;
    width: 8%;
    @include flex(row, center);
    align-items: center;
    img {
        max-width: 100%;
    }
    &#express,
    &#mongo {
        width: 17%;
    }
}

#facebook,
#blog,
#battleship {
    @include flex(column, space-around);
    align-items: stretch;
    position: relative;
    .text {
        @include flex(column, space-between);
        align-items: center;
        margin-left: 4em;
        font-size: 1.1rem;
        h2 {
            @extend .project-title;
        }
        .techs {
            @include flex(row, space-around);
            list-style: none;
            flex-wrap: wrap;
            width: 60%;
            li {
                @extend .techs-items;
                position: relative;
                span {
                    position: absolute;
                    bottom: 5px;
                    transform: translateY(100%);
                    background-color: $black;
                    color: $white;
                    font-size: 0.7rem;
                    padding: 0.2em 0.5em;
                    border-radius: 25px;
                    display: inline-block;
                    opacity: 0;
                    transition: opacity 250ms ease-in;
                }
                &:hover span {
                    opacity: 1;
                }
            }
            li.passport img {
                height: 90%;
                align-self: flex-start;
            }
        }
        & > div {
            width: 75%;
            margin-bottom: 4.5em;
            color: #4b4d4e;
        }
    }
    .images {
        @include flex(row, flex-end);
        width: 100%;
        figure {
            @include flex();
            video {
                @extend .video;
            }
        }
        figure:first-child {
            margin-left: 4em;
        }
    }
}

#facebook {
    .bg-color {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1876f211;
        z-index: -15;
    }
}

#blog {
    .images {
        justify-content: space-around;
    }
}

#battleship {
    .images {
        justify-content: space-around;
    }
    .text {
        .techs li {
            width: 6%;
            position: relative;
            min-width: 42px;
            max-width: 70px;
            img {
                width: 100%;
            }
            &:last-child {
                width: 8%;
                img {
                    align-self: self-end;
                }
            }
        }
    }
}

.live {
    background: url('./imgs/view-in-browser.png');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slideIn {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hello {
    0% {
        transform: scale(5) translateX(100%);
    }
    100% {
        transform: scale(0) translateX(0);
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
