.confetti {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}

.confetti .colors {
  position: fixed;
  margin: 0;
}

.confetti.show {
  opacity: 1;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1,
.vox-1 {
  background-color: #ff0000;
  opacity: 0;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2,
.vox-2 {
  background-color: #ff7f00;
  opacity: 0;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3,
.vox-3 {
  background-color: #ffff00;
  opacity: 0;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4,
.vox-4 {
  background-color: #00ff00;
  opacity: 0;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5,
.vox-5 {
  background-color: #0000ff;
  opacity: 0;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6,
.vox-6 {
  background-color: #2e2b5f;
  opacity: 0;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7,
.vox-7 {
  background-color: #8b00ff;
  opacity: 0;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1,
.vox-1 {
  background-color: #ff0000;
  opacity: 0;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2,
.vox-2 {
  background-color: #ff7f00;
  opacity: 0;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3,
.vox-3 {
  background-color: #ffff00;
  opacity: 0;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4,
.vox-4 {
  background-color: #00ff00;
  opacity: 0;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5,
.vox-5 {
  background-color: #0000ff;
  opacity: 0;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6,
.vox-6 {
  background-color: #2e2b5f;
  opacity: 0;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7,
.vox-7 {
  background-color: #8b00ff;
  opacity: 0;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1,
.vox-1 {
  background-color: #ff0000;
  opacity: 0;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2,
.vox-2 {
  background-color: #ff7f00;
  opacity: 0;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3,
.vox-3 {
  background-color: #ffff00;
  opacity: 0;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4,
.vox-4 {
  background-color: #00ff00;
  opacity: 0;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5,
.vox-5 {
  background-color: #0000ff;
  opacity: 0;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6,
.vox-6 {
  background-color: #2e2b5f;
  opacity: 0;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7,
.vox-7 {
  background-color: #8b00ff;
  opacity: 0;
  z-index: -5;
}

.box-1,
.dox-1,
.fox-1,
.rox-1,
.uox-1,
.vox-1 {
  background-color: #ff0000;
  opacity: 0;
  z-index: -5;
}

.box-2,
.dox-2,
.fox-2,
.rox-2,
.uox-2,
.vox-2 {
  background-color: #ff7f00;
  opacity: 0;
  z-index: -5;
}

.box-3,
.dox-3,
.fox-3,
.rox-3,
.uox-3,
.vox-3 {
  background-color: #ffff00;
  opacity: 0;
  z-index: -5;
}

.box-4,
.dox-4,
.fox-4,
.rox-4,
.uox-4,
.vox-4 {
  background-color: #00ff00;
  opacity: 0;
  z-index: -5;
}

.box-5,
.dox-5,
.fox-5,
.rox-5,
.uox-5,
.vox-5 {
  background-color: #0000ff;
  opacity: 0;
  z-index: -5;
}

.box-6,
.dox-6,
.fox-6,
.rox-6,
.uox-6,
.vox-6 {
  background-color: #2e2b5f;
  opacity: 0;
  z-index: -5;
}

.box-7,
.dox-7,
.fox-7,
.rox-7,
.uox-7,
.vox-7 {
  background-color: #8b00ff;
  opacity: 0;
  z-index: -5;
}

.box-1 {
  top: calc(1 * 53px);
  left: calc(1 * 74px);
  height: calc(1* 2px);
  width: calc(1* 1px);
  -webkit-transform: rotate(326deg);
          transform: rotate(326deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-2 {
  top: calc(2 * 24px);
  left: calc(2 * 136px);
  height: calc(2* 4px);
  width: calc(2* 3px);
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-3 {
  top: calc(3 * 27px);
  left: calc(3 * 13px);
  height: calc(3* 4px);
  width: calc(3* 2px);
  -webkit-transform: rotate(39deg);
          transform: rotate(39deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-4 {
  top: calc(4 * 80px);
  left: calc(4 * 171px);
  height: calc(4* 3px);
  width: calc(4* 2px);
  -webkit-transform: rotate(67deg);
          transform: rotate(67deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-5 {
  top: calc(5 * 23px);
  left: calc(5 * 121px);
  height: calc(5* 1px);
  width: calc(5* 1px);
  -webkit-transform: rotate(272deg);
          transform: rotate(272deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-6 {
  top: calc(6 * 1px);
  left: calc(6 * 16px);
  height: calc(6* 4px);
  width: calc(6* 2px);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-7 {
  top: calc(7 * 76px);
  left: calc(7 * 158px);
  height: calc(7* 5px);
  width: calc(7* 1px);
  -webkit-transform: rotate(310deg);
          transform: rotate(310deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-8 {
  top: calc(8 * 35px);
  left: calc(8 * 139px);
  height: calc(8* 2px);
  width: calc(8* 1px);
  -webkit-transform: rotate(98deg);
          transform: rotate(98deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-9 {
  top: calc(9 * 39px);
  left: calc(9 * 43px);
  height: calc(9* 4px);
  width: calc(9* 2px);
  -webkit-transform: rotate(82deg);
          transform: rotate(82deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.box-10 {
  top: calc(10 * 3px);
  left: calc(10 * 189px);
  height: calc(10* 4px);
  width: calc(10* 3px);
  -webkit-transform: rotate(111deg);
          transform: rotate(111deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.dox-1 {
  top: calc(1 * 71px);
  left: calc(1 * 127px);
  height: calc(1* 1px);
  width: calc(1* 1px);
  -webkit-transform: rotate(319deg);
          transform: rotate(319deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-2 {
  top: calc(2 * 57px);
  left: calc(2 * 41px);
  height: calc(2* 3px);
  width: calc(2* 3px);
  -webkit-transform: rotate(296deg);
          transform: rotate(296deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-3 {
  top: calc(3 * 71px);
  left: calc(3 * 182px);
  height: calc(3* 3px);
  width: calc(3* 3px);
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-4 {
  top: calc(4 * 7px);
  left: calc(4 * 96px);
  height: calc(4* 3px);
  width: calc(4* 1px);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-5 {
  top: calc(5 * 34px);
  left: calc(5 * 105px);
  height: calc(5* 1px);
  width: calc(5* 2px);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-6 {
  top: calc(6 * 6px);
  left: calc(6 * 65px);
  height: calc(6* 2px);
  width: calc(6* 1px);
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-7 {
  top: calc(7 * 25px);
  left: calc(7 * 111px);
  height: calc(7* 2px);
  width: calc(7* 3px);
  -webkit-transform: rotate(197deg);
          transform: rotate(197deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-8 {
  top: calc(8 * 2px);
  left: calc(8 * 53px);
  height: calc(8* 3px);
  width: calc(8* 1px);
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-9 {
  top: calc(9 * 19px);
  left: calc(9 * 6px);
  height: calc(9* 3px);
  width: calc(9* 1px);
  -webkit-transform: rotate(29deg);
          transform: rotate(29deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dox-10 {
  top: calc(10 * 74px);
  left: calc(10 * 94px);
  height: calc(10* 1px);
  width: calc(10* 2px);
  -webkit-transform: rotate(134deg);
          transform: rotate(134deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.fox-1 {
  top: calc(1 * 4px);
  left: calc(1 * 24px);
  height: calc(1* 5px);
  width: calc(1* 1px);
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-2 {
  top: calc(2 * 129px);
  left: calc(2 * 22px);
  height: calc(2* 5px);
  width: calc(2* 2px);
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-3 {
  top: calc(3 * 129px);
  left: calc(3 * 33px);
  height: calc(3* 2px);
  width: calc(3* 2px);
  -webkit-transform: rotate(341deg);
          transform: rotate(341deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-4 {
  top: calc(4 * 57px);
  left: calc(4 * 227px);
  height: calc(4* 4px);
  width: calc(4* 1px);
  -webkit-transform: rotate(261deg);
          transform: rotate(261deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-5 {
  top: calc(5 * 119px);
  left: calc(5 * 245px);
  height: calc(5* 2px);
  width: calc(5* 1px);
  -webkit-transform: rotate(273deg);
          transform: rotate(273deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-6 {
  top: calc(6 * 46px);
  left: calc(6 * 135px);
  height: calc(6* 3px);
  width: calc(6* 2px);
  -webkit-transform: rotate(250deg);
          transform: rotate(250deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-7 {
  top: calc(7 * 52px);
  left: calc(7 * 5px);
  height: calc(7* 2px);
  width: calc(7* 1px);
  -webkit-transform: rotate(206deg);
          transform: rotate(206deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-8 {
  top: calc(8 * 28px);
  left: calc(8 * 191px);
  height: calc(8* 3px);
  width: calc(8* 2px);
  -webkit-transform: rotate(241deg);
          transform: rotate(241deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-9 {
  top: calc(9 * 42px);
  left: calc(9 * 37px);
  height: calc(9* 5px);
  width: calc(9* 3px);
  -webkit-transform: rotate(211deg);
          transform: rotate(211deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fox-10 {
  top: calc(10 * 3px);
  left: calc(10 * 234px);
  height: calc(10* 2px);
  width: calc(10* 1px);
  -webkit-transform: rotate(39deg);
          transform: rotate(39deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.rox-1 {
  top: calc(1 * 41px);
  right: calc(1 * 74px);
  height: calc(1* 3px);
  width: calc(1* 1px);
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-2 {
  top: calc(2 * 67px);
  right: calc(2 * 3px);
  height: calc(2* 1px);
  width: calc(2* 2px);
  -webkit-transform: rotate(67deg);
          transform: rotate(67deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-3 {
  top: calc(3 * 52px);
  right: calc(3 * 101px);
  height: calc(3* 4px);
  width: calc(3* 2px);
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-4 {
  top: calc(4 * 275px);
  right: calc(4 * 29px);
  height: calc(4* 2px);
  width: calc(4* 2px);
  -webkit-transform: rotate(275deg);
          transform: rotate(275deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-5 {
  top: calc(5 * 173px);
  right: calc(5 * 33px);
  height: calc(5* 4px);
  width: calc(5* 3px);
  -webkit-transform: rotate(173deg);
          transform: rotate(173deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-6 {
  top: calc(6 * 342px);
  right: calc(6 * 13px);
  height: calc(6* 1px);
  width: calc(6* 2px);
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-7 {
  top: calc(7 * 194px);
  right: calc(7 * 85px);
  height: calc(7* 3px);
  width: calc(7* 2px);
  -webkit-transform: rotate(194deg);
          transform: rotate(194deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-8 {
  top: calc(8 * 235px);
  right: calc(8 * 211px);
  height: calc(8* 1px);
  width: calc(8* 3px);
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-9 {
  top: calc(9 * 298px);
  right: calc(9 * 101px);
  height: calc(9* 4px);
  width: calc(9* 2px);
  -webkit-transform: rotate(298deg);
          transform: rotate(298deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rox-10 {
  top: calc(10 * 207px);
  right: calc(10 * 4px);
  height: calc(10* 1px);
  width: calc(10* 2px);
  -webkit-transform: rotate(207deg);
          transform: rotate(207deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.uox-1 {
  top: calc(1 * 188px);
  right: calc(1 * 93px);
  height: calc(1* 3px);
  width: calc(1* 1px);
  -webkit-transform: rotate(188deg);
          transform: rotate(188deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-2 {
  top: calc(2 * 213px);
  right: calc(2 * 190px);
  height: calc(2* 5px);
  width: calc(2* 3px);
  -webkit-transform: rotate(213deg);
          transform: rotate(213deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-3 {
  top: calc(3 * 295px);
  right: calc(3 * 215px);
  height: calc(3* 1px);
  width: calc(3* 1px);
  -webkit-transform: rotate(295deg);
          transform: rotate(295deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-4 {
  top: calc(4 * 62px);
  right: calc(4 * 86px);
  height: calc(4* 3px);
  width: calc(4* 2px);
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-5 {
  top: calc(5 * 127px);
  right: calc(5 * 40px);
  height: calc(5* 2px);
  width: calc(5* 1px);
  -webkit-transform: rotate(127deg);
          transform: rotate(127deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-6 {
  top: calc(6 * 35px);
  right: calc(6 * 162px);
  height: calc(6* 1px);
  width: calc(6* 2px);
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-7 {
  top: calc(7 * 313px);
  right: calc(7 * 15px);
  height: calc(7* 3px);
  width: calc(7* 1px);
  -webkit-transform: rotate(313deg);
          transform: rotate(313deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-8 {
  top: calc(8 * 30px);
  right: calc(8 * 63px);
  height: calc(8* 5px);
  width: calc(8* 2px);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-9 {
  top: calc(9 * 175px);
  right: calc(9 * 188px);
  height: calc(9* 2px);
  width: calc(9* 3px);
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uox-10 {
  top: calc(10 * 101px);
  right: calc(10 * 139px);
  height: calc(10* 4px);
  width: calc(10* 2px);
  -webkit-transform: rotate(101deg);
          transform: rotate(101deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.vox-1 {
  top: calc(1 * 243px);
  right: calc(1 * 245px);
  height: calc(1* 5px);
  width: calc(1* 3px);
  -webkit-transform: rotate(243deg);
          transform: rotate(243deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-2 {
  top: calc(2 * 70px);
  right: calc(2 * 177px);
  height: calc(2* 3px);
  width: calc(2* 2px);
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-3 {
  top: calc(3 * 79px);
  right: calc(3 * 246px);
  height: calc(3* 2px);
  width: calc(3* 1px);
  -webkit-transform: rotate(79deg);
          transform: rotate(79deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-4 {
  top: calc(4 * 52px);
  right: calc(4 * 32px);
  height: calc(4* 5px);
  width: calc(4* 1px);
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-5 {
  top: calc(5 * 260px);
  right: calc(5 * 217px);
  height: calc(5* 2px);
  width: calc(5* 2px);
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-6 {
  top: calc(6 * 62px);
  right: calc(6 * 187px);
  height: calc(6* 3px);
  width: calc(6* 1px);
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-7 {
  top: calc(7 * 153px);
  right: calc(7 * 188px);
  height: calc(7* 4px);
  width: calc(7* 2px);
  -webkit-transform: rotate(153deg);
          transform: rotate(153deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-8 {
  top: calc(8 * 236px);
  right: calc(8 * 225px);
  height: calc(8* 3px);
  width: calc(8* 3px);
  -webkit-transform: rotate(236deg);
          transform: rotate(236deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-9 {
  top: calc(9 * 229px);
  right: calc(9 * 157px);
  height: calc(9* 3px);
  width: calc(9* 1px);
  -webkit-transform: rotate(229deg);
          transform: rotate(229deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vox-10 {
  top: calc(10 * 216px);
  right: calc(10 * 56px);
  height: calc(10* 1px);
  width: calc(10* 3px);
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
  -webkit-animation: FALLCONFETTI 10s ease-in-out infinite;
          animation: FALLCONFETTI 10s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes FALLCONFETTI {
  0% {
    -webkit-transform: translateY(-3000%);
            transform: translateY(-3000%);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
    opacity: 0;
  }
}

@keyframes FALLCONFETTI {
  0% {
    -webkit-transform: translateY(-3000%);
            transform: translateY(-3000%);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
    opacity: 0;
  }
}

.video-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-modal video {
  width: 65%;
  height: 65vh;
}

.video-modal p {
  color: #ebebeb;
  margin-top: 1.5em;
  text-shadow: 0px 0px #393d3f;
  font-weight: bold;
}

.video-modal.open {
  background-color: #393d3fde;
  opacity: 1;
  pointer-events: all;
}

#contact {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

#contact h2 {
  margin-top: 0;
}

#contact .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-width: 330px;
}

form textarea {
  resize: none;
  background-color: transparent;
  border: 1px solid #393d3f;
  padding: 1em;
  margin-top: 2em;
}

form textarea:not(:focus) {
  background-color: #393d3f10;
}

.form-field {
  position: relative;
  overflow-x: hidden;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-field:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #393d3f;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form-field:focus-within:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 21;
}

.form-field:focus-within label,
.form-field input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  opacity: 0.5;
}

.form-field input {
  border: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid #706e5c;
  padding-top: 1.5em;
}

.form-field input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-field label {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.section, nav, #hero, #about, #facebook,
#blog,
#battleship,
#other-projects,
#contact {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 12%;
  scroll-snap-align: start;
}

.black-text {
  color: #393d3f !important;
}

.anchor-bar:after, nav .outer-menu > li a:after, .project-title div a:after, #facebook .text h2 div a:after, #blog .text h2 div a:after, #battleship .text h2 div a:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ebebeb;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.anchor-bar:hover:after, nav .outer-menu > li a:hover:after, .project-title div a:hover:after, #facebook .text h2 div a:hover:after, #blog .text h2 div a:hover:after, #battleship .text h2 div a:hover:after {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ebebeb;
  overflow: hidden;
}

:root {
  scroll-behavior: smooth;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background-color: #393d3f;
  position: fixed;
  z-index: 10;
  width: 12%;
  min-width: 170px;
  -webkit-box-shadow: 0 2px 10px #393d3f;
          box-shadow: 0 2px 10px #393d3f;
  margin-left: 0;
  opacity: 1;
}

nav .outer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
}

nav .outer-menu > li {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .outer-menu > li a {
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  padding: 20px 0;
  color: #ebebeb;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

nav .outer-menu > li a i {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .outer-menu .has-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .outer-menu .has-menu a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .outer-menu .has-menu .inner-menu {
  margin-top: -10px;
}

nav .outer-menu .has-menu .inner-menu li a:after {
  bottom: 0;
}

nav .inner-menu > li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .inner-menu > li a {
  padding: 10px 0;
  font-size: 0.85rem;
}

nav .selector {
  position: absolute;
  z-index: -30;
  background-color: #ebebeb;
  -webkit-transition: top 200ms ease-in;
  transition: top 200ms ease-in;
  -webkit-box-shadow: 0 0 6px #393d3f;
          box-shadow: 0 0 6px #393d3f;
}

nav.slide-in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}

#hero {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 9%;
}

#hero > div {
  margin-top: -150px;
}

#hero h1 {
  font-size: 7rem;
  color: #393d3f;
  text-shadow: 0 0 1px #393d3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  padding-top: 150px;
}

#hero h1 .slide-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  opacity: 0;
  font-family: 'Kalam', cursive;
}

#hero .subtitle {
  font-size: 1.5rem;
  opacity: 0;
  -webkit-animation: fadeIn 500ms ease-in forwards;
          animation: fadeIn 500ms ease-in forwards;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  color: #393d3f;
  text-align: end;
  letter-spacing: 5px;
  margin-top: 1em;
}

#hero .subtitle span {
  letter-spacing: 5px;
}

#hero:after {
  content: '';
  height: 60%;
  width: 120%;
  position: absolute;
  top: 0;
  background-color: #dfdfdf9d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
  z-index: -10;
}

#hero .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 250px;
  list-style: none;
  padding-top: 150px;
}

#hero .contact-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: relative;
  -webkit-animation: fadeIn 500ms ease-in-out forwards;
          animation: fadeIn 500ms ease-in-out forwards;
  overflow-x: hidden;
}

#hero .contact-links li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #393d3f;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

#hero .contact-links li:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#hero .contact-links li:first-child {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

#hero .contact-links li:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#hero .contact-links li:last-child {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

#hero .contact-links a {
  color: #393d3f;
  text-decoration: none;
  font-size: 3rem;
}

#about {
  color: #ebebeb;
  background-color: #393d3f;
}

.project-title, #facebook .text h2,
#blog .text h2,
#battleship .text h2 {
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  color: #393d3f;
  margin: 0.5em 2em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-title div, #facebook .text h2 div, #blog .text h2 div, #battleship .text h2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-title div a, #facebook .text h2 div a, #blog .text h2 div a, #battleship .text h2 div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393d3f;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}

.project-title div a i, #facebook .text h2 div a i, #blog .text h2 div a i, #battleship .text h2 div a i {
  width: 26px;
  height: 26px;
  margin-left: 10px;
  font-size: 1.5rem;
}

.project-title div a:after, #facebook .text h2 div a:after, #blog .text h2 div a:after, #battleship .text h2 div a:after {
  background-color: #393d3f;
}

.video, #facebook .images figure video,
#blog .images figure video,
#battleship .images figure video {
  cursor: pointer;
  display: block;
  max-width: 90%;
  max-height: 260px;
  -webkit-box-shadow: 0 2px 35px -20px #393d3f;
          box-shadow: 0 2px 35px -20px #393d3f;
}

.techs-items, #facebook .text .techs li,
#blog .text .techs li,
#battleship .text .techs li {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 15px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techs-items img, #facebook .text .techs li img, #blog .text .techs li img, #battleship .text .techs li img {
  max-width: 100%;
}

.techs-items#express, #facebook .text .techs li#express,
#blog .text .techs li#express,
#battleship .text .techs li#express, .techs-items#mongo, #facebook .text .techs li#mongo,
#blog .text .techs li#mongo,
#battleship .text .techs li#mongo {
  width: 17%;
}

#facebook,
#blog,
#battleship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

#facebook .text,
#blog .text,
#battleship .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4em;
  font-size: 1.1rem;
}

#facebook .text .techs,
#blog .text .techs,
#battleship .text .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

#facebook .text .techs li,
#blog .text .techs li,
#battleship .text .techs li {
  position: relative;
}

#facebook .text .techs li span,
#blog .text .techs li span,
#battleship .text .techs li span {
  position: absolute;
  bottom: 5px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #393d3f;
  color: #ebebeb;
  font-size: 0.7rem;
  padding: 0.2em 0.5em;
  border-radius: 25px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#facebook .text .techs li:hover span,
#blog .text .techs li:hover span,
#battleship .text .techs li:hover span {
  opacity: 1;
}

#facebook .text .techs li.passport img,
#blog .text .techs li.passport img,
#battleship .text .techs li.passport img {
  height: 90%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#facebook .text > div,
#blog .text > div,
#battleship .text > div {
  width: 75%;
  margin-bottom: 4.5em;
  color: #4b4d4e;
}

#facebook .images,
#blog .images,
#battleship .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#facebook .images figure,
#blog .images figure,
#battleship .images figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#facebook .images figure:first-child,
#blog .images figure:first-child,
#battleship .images figure:first-child {
  margin-left: 4em;
}

#battleship .text .techs li {
  width: 6%;
  position: relative;
  min-width: 42px;
  max-width: 70px;
}

#battleship .text .techs li img {
  width: 100%;
}

#battleship .text .techs li:last-child {
  width: 8%;
}

#battleship .text .techs li:last-child img {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

#other-projects > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 40px;
  margin: 0 1em 0 4em;
  padding-bottom: 1em;
}

#other-projects > div h2 {
  grid-column: span 3;
  margin-bottom: 0;
  margin-top: 0;
}

#other-projects > div figure > div {
  position: relative;
  overflow: hidden;
  max-width: 400px;
  -webkit-box-shadow: 0 0 40px -20px #393d3f;
          box-shadow: 0 0 40px -20px #393d3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#other-projects > div figure > div .blanket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #393d3faf;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#other-projects > div figure > div:hover .blanket {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#other-projects > div figure img {
  width: 100%;
}

#other-projects > div figure figcaption {
  font-size: 0.9rem;
  margin-top: 1em;
}

#other-projects > div figure figcaption span {
  color: #706e5c;
  font-size: 1rem;
}

#other-projects > div figure figcaption strong {
  font-weight: 600;
}

#other-projects > div .project-links {
  list-style: none;
  margin-top: 1em;
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#other-projects > div .project-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#other-projects > div .project-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebebeb;
  text-decoration: none;
}

#other-projects > div .project-links li a i {
  font-size: 2rem;
  position: relative;
}

#other-projects > div .project-links li a i:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ebebeb;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

#other-projects > div .project-links li a i:hover:after {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes hello {
  0% {
    -webkit-transform: scale(5) translateX(100%);
            transform: scale(5) translateX(100%);
  }
  100% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    opacity: 0;
  }
}

@keyframes hello {
  0% {
    -webkit-transform: scale(5) translateX(100%);
            transform: scale(5) translateX(100%);
  }
  100% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */