$black: #393d3f;
$white: #ebebeb;
$brown: #706e5c;
$teal: #62929e;
$blue: #536979;

@mixin flex($flex-direction: row, $justify-content: space-between) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

.section {
    min-height: 100vh;
    @include flex(column, center);
    align-items: center;
    flex: 1;
    margin-left: 15%;
}

.black-text {
    color: $black !important;
}

.white-text {
    color: $white !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $white;
}

:root {
    scroll-behavior: smooth;
}

#wrapper {
    display: flex;
}

nav.hide {
    transform: translateX(-100%);
}

nav {
    background-color: $black;
    @extend .section;
    position: fixed;
    z-index: 10;
    width: 15%;
    box-shadow: 0 2px 10px $black;
    margin-left: 0;
    transition: opacity 250ms ease-out;

    .outer-menu {
        @include flex(column, center);
        list-style: none;
        width: 100%;
        & > li {
            text-align: center;
            margin: 20px 0;
            width: 100%;
            a {
                transition: background-color 150ms ease;
                padding: 20px 0;
                color: $white;
                font-weight: bold;
                font-size: 1.2rem;
                text-decoration: none;
                display: inline-block;
                width: 100%;
                @include flex(cemter, space-evenly);
                &:hover {
                    text-decoration: underline;
                }
                i {
                    margin-right: -30px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .has-menu {
            .inner-menu {
                margin-top: -10px;
            }
        }
    }
    .inner-menu {
        & > li {
            margin: 10px 0;
            a {
                padding: 10px 0;
                font-size: 1rem;
            }
        }
    }
    .selector {
        position: absolute;
        z-index: -30;
        background-color: $white;
        transition: top 200ms ease-in;
        box-shadow: 0 0 6px $black;
    }
}

#hero {
    @extend .section;
    width: 60%;
    justify-content: center;
    h1 {
        font-size: 4rem;
        color: $blue;
        text-shadow: 0 0 1px $black;
        @include flex(row, center);
        align-items: baseline;
        width: 100%;
        .hello {
            font-size: 2rem;
            color: $black;
            text-shadow: none;
            display: inline-block;
            transform: scale(5) translateX(100%);
            animation: hello 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
            animation-delay: 1s;
            margin-right: 5px;
        }
        .slide-in {
            @include flex(row, center);
            align-items: center;
            transform: translateX(-100%);
            animation: slideIn 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
            animation-delay: 1.2s;
            opacity: 0;
        }
    }
    &:after {
        content: '';
        height: 60%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: #dfdfdf;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        z-index: -10;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hello {
    0% {
        transform: scale(5) translateX(100%);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

#about {
    @extend .section;
    color: $white;
    background-color: $black;
}

#facebook,
#blog,
#battleship,
#other-projects {
    @extend .section;
}
#facebook {
    background-color: $teal;
}
#blog {
    background-color: $brown;
}
#battleship {
    background-color: $blue;
}
